# Web framework
fastapi==0.111.0
uvicorn[standard]==0.29.0
starlette==0.37.2

# Base de datos
sqlalchemy==2.0.29
alembic==1.13.1
psycopg2-binary==2.9.9

# Validación y configuración
pydantic==2.7.0
pydantic-settings==2.2.1

# Auth y seguridad
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
cryptography==42.0.5          # Fernet para encriptar certificados SII

# Colas y caché
celery==5.3.6
redis==5.0.3

# AWS
boto3==1.34.0

# PDF (DTE)
reportlab==4.1.0
lxml==5.2.1                   # Parseo y firma XML para DTE SII

# HTTP cliente (consultas SII)
httpx==0.27.0

# Utilidades
python-dateutil==2.9.0        # Manejo de fechas chilenas

# Testing
pytest==8.1.0
pytest-asyncio==0.23.6
httpx==0.27.0                 # cliente de tests para FastAPI
